body
{
    font-family: "Roboto", Arial, sans-serif;
    margin: 0px;
}

.box
{
    position: fixed;
    top: 0;
    left: 0;
    background-color:#7AEFF4;
    width: 100%;
    height: 15%;
    opacity: 0.7;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}


.box2
{
    margin-top: 15%;
    height: 85%;
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    font-size: 20px;
    box-sizing: border-box;
    overflow: auto;
}

.navbar
{
    position: fixed;
    height: 100px;
    width: 100%;
    top: 15%;
}

.navbar ul
{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: grey;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navbar a
{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover
{
    background-color: lightgrey;
}


a {
    position: relative;
}


.copyright
{
    position: fixed;
    text-align: left;
    bottom: 0px;
    width: 100%;
}

