body
{
    height: 100vh;
    font-family: "Roboto", Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

header
{
    background-color: #7AEFF4;
    width: 100%;
    opacity: 0.7;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    font-size: 25px;
    line-height: 50px;
    z-index: 3000;
    box-sizing: border-box;
}

header a
{
    color: black;
    text-decoration: none;
}

.navbar
{
    height: 60px;
    width: 100%;
    text-align: center;
}

.navbar ul
{
    list-style-type: none;
    background-color: grey;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-align: justify;
    height: 100%;
    font-size: 0;
}

.navbar a
{
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 16px;
    display: block;
    text-align: center;
    margin-right: 0px;
}

.navbar a:hover
{
    background-color: lightgrey;
}

.navbar li
{
    padding: 0px;
    margin: 0px;
    border: 0px;
    display: inline-block;
    width: 25%;
    font-size: 23px;
    height: 60px;
}

@media (max-width: 400px)
{
    .navbar
    {
        height: 180px;
        width: 100%;
        text-align: center;
    }

    .navbar li
    {
        display: block;
        width: 100%;
        height: 45px;
    }

    .navbar a
    {
        display: grid;
        place-items: center;
        padding: 0px;
    }
}

.box2
{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    box-sizing: border-box;
}

.box2 h2
{
    font-size: 35px;
}

.box2 p
{
    font-size: 23px;
}

.weekly_puzzle_table table
{
    margin-left: auto;
    margin-right: auto;
}

.weekly_puzzle_table td
{
    padding-top: 5px;
    padding-right: 10px;
    text-align: center;
    font-size: 19px;
}

.weekly_puzzle_table td a
{
    text-decoration: none;
    color: lightskyblue;
}

.puzzles_box
{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    box-sizing: border-box;
}

.puzzles_box h2
{
    font-size: 35px;
}

.puzzles_box p
{
    font-size: 23px;
}

.puzzles_box ul
{
    list-style-type: none;
    font-size: 23px;
    text-align: center;
}

.puzzles_box ul a
{
    text-decoration: none;
    color: lightskyblue;
}

.box3
{
    background-color: lightgrey;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}

.box3 h2
{
    margin-left: 10%;
    font-size: 35px;
}

.box3 p
{
    margin-left: 10%;
    width: 40%;
    font-size: 20px;
}

.box4
{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    box-sizing: border-box;
    text-align: right;
}

.box4 h2
{
    padding-right: 10%;
    font-size: 35px;
}

.box4 p
{
    width: 45%;
    margin-left: auto;
    margin-right: 10%;
    font-size: 20px;
}


@media (max-width: 450px)
{
    .box2
    {
        margin-left: 10%;
        margin-right: 10%;
    }

    .box3, .box4
    {
        text-align: center;
    }

    .box3 h2, .box4 h2
    {
        margin-left: 10%;
        margin-right: 10%;
    }

    .box3 p, .box4 p
    {
        margin-left: 10%;
        margin-right: 10%;

        width: 80%;
    }
}

.copyright
{
    padding-top: 50px;
    text-align: left;
    bottom: 0px;
    width: 100%;
}
